<ion-header id="header">
    <ion-navbar>
        <ion-list>
            <ion-item no-border style="background:none;">
                <button item-start menuToggle icon-only ion-button clear> 
            <ion-icon name="menu" style="color:#fff; font-size:30px;"></ion-icon>
        </button>

                <ion-title>
                    <span style="color:#fff; font-size:16px !important">Pastor Sermons</span>
                </ion-title>

            </ion-item>
        </ion-list>

    </ion-navbar>

    <ion-toolbar no-border-top id="toolbar">
        <ion-segment [(ngModel)]="pas">
            <ion-segment-button value="all_sermons" (click)="loadsermons()">
                Your Sermons
            </ion-segment-button>
            <ion-segment-button value="new_sermon" (click)="loadfirst('New Sermon')">
                {{ tabTitle }}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content id="app">
    <div [ngSwitch]="pas">
        <ion-list *ngSwitchCase="'all_sermons'">
            <ion-card *ngFor="let sermon of sermons" (click)="showsermon(sermon)">
                <img [src]="image + sermon.sermonImage">
                <ion-card-content style="text-align:center; position:relative; z-index:99;
            margin-top:-140px; color:#fff; background:rgba(0,0,0,0.81);">
                    <ion-card-title style="color:#fff; font-size: 20px;">{{ sermon.sermonTopic }}</ion-card-title>
                    <span>
                <ion-icon name="calendar"></ion-icon> {{ sermon.sermonDate }} 
              </span>
                </ion-card-content>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'new_sermon'">


            <form method="post" enctype="multipart/form-data" name="new_sermon">
                <ion-item clear>
                    <ion-label floating>Sermon Topic</ion-label>
                    <ion-input type="text" [(ngModel)]="data.sermonTopic" name="sermonTopic" required="true"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Sermon</ion-label>
                    <ion-textarea [(ngModel)]="data.sermon" required="true" name="sermon"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label floating>Embed Youtube Video</ion-label>
                    <ion-textarea [(ngModel)]="data.sermonVideo" name="sermonVideo" onload="this.value = ''"></ion-textarea>
                </ion-item>
                <ion-item style="padding-top:20px;">
                    <button ion-button (click)="takephoto()" block clear id="camera_btn">Take a Picture</button>
                    <button ion-button (click)="selectphoto()" block clear id="camera_btn">Select from libary</button>

                    <div align="center"> <img src="{{ myphoto }}" *ngIf="myphoto !== false"> </div>
                    <div align="center" *ngIf="myvideo">
                        <video controls>
                            <source src="({ myvideo })" type="video/mp4">
                        </video>
                    </div>

                </ion-item>

                <ion-item padding>
                    <button ion-button block (click)="createSermon(data)" color="secondary">
                <ion-icon name="add"></ion-icon> &nbsp; {{ data.button }}
              </button>
                </ion-item>
            </form>
        </ion-list>
    </div>
</ion-content>


<ion-footer>
    <ion-navbar no-padding>
        <ion-grid style="background: transparent; color:#fff;">
            <ion-row>
                <ion-col *ngFor="let foot of footer" class="col col-{{foot.col}} text-{{foot.cstyle}} {{foot.cclass}}">
                    <button icon-only ion-button clear color="dark" (click)="footerCtrl.navigate(foot.clickA)">
                  <ion-icon name="{{foot.iconName}}" style="color:#fff"></ion-icon>
              </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-footer>