page-titheoffering {
    #table{margin-top: 15vh;}
    .table-header{background: #f00; color: #fff;}
    .table-row{margin-top: 15px; margin-bottom: 15px;}
    .table-total{background: #f00; color: #fff;}
    #app .item-md{border:none;}
}
